.notification-label {
    -unity-font-style: bold;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    -unity-font-definition: none;
    -unity-font: url('project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna');
}
