.main-menu-nav-button {
    background-color: rgba(188, 188, 188, 0);
    height: 20px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    transition-duration: 0.25s;
    border-bottom-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: none;
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

.main-menu-nav-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 20px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    -unity-font-style: bold;
    transition-duration: 0.25s;
    border-bottom-color: rgb(255, 255, 255);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    -unity-font-definition: none;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
}

.main-menu-nav-button:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 20px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    -unity-font-style: bold;
    transition-duration: 0.25s;
    border-bottom-color: rgb(255, 255, 255);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    -unity-font-definition: none;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
}

.load-game-button:hover {
    background-color: rgba(188, 188, 188, 0);
    height: 20px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    -unity-font-style: bold;
    transition-duration: 0.25s;
    border-color: rgb(0, 0, 0);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    -unity-font-definition: none;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
}

.main-menu-nav-button:focus {
    height: 20px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    -unity-font-style: bold;
    transition-duration: 0.25s;
    border-bottom-color: rgb(255, 255, 255);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    -unity-font-definition: none;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
}

.default-button {
    height: 20%;
    width: 100%;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    -unity-font-definition: none;
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
}

.default-button:hover {
    height: 20%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

.label-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    width: auto;
    -unity-text-align: middle-left;
    flex-wrap: nowrap;
    white-space: normal;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Fonts/Grenze/Grenze-SemiBold.ttf?fileID=12800000&guid=7c97367a93d4cc844a4113ad6cf8d2e0&type=3#Grenze-SemiBold");
    -unity-font-style: bold;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    padding-right: 5px;
}

.same-value-equipment:hover {
    width: 50px;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: none;
    color: rgb(0, 0, 0);
    font-size: 9px;
}

.equipment-item-selection-button {
    width: 100%;
    height: auto;
    flex-shrink: initial;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.equipment-item-selection-button:hover {
    width: 100%;
    height: auto;
    flex-shrink: initial;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.cursor {
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

.favorite-item-button {
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    flex-direction: row;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    transition-duration: 0.1s;
}

.favorite-item-button:hover {
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    flex-direction: row;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    transition-duration: 0.1s;
    color: rgb(0, 0, 0);
}

.custom_dropdown {
    width: 50%;
    color: rgb(0, 0, 0);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    -unity-font-definition: none;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
}

.custom_dropdown > .unity-base-field__input {
    color: white;
    margin: 0;
    background-color: tranparent;
}

.custom_text_field {
    -unity-font-definition: none;
    background-color: tranparent;
    color: rgb(0, 0, 0);
    -unity-background-image-tint-color: tranparent;
    width: 50%;
    height: 35px;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.custom_text_field > #unity-text-input {
    color: white;
    background-color: tranparent;
}

.inventory_item_button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: auto;
    flex-grow: 1;
    padding-left: 0;
    margin-bottom: 0;
    opacity: 1;
    color: rgb(255, 255, 255);
}

.inventory_item_button:hover * {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.inventory_item_button:hover #BuySellItem {
    border: 1px solid rgb(0, 0, 0);
}

.shop_inventory_item_button:hover {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: auto;
    flex-grow: 1;
    padding-left: 0;
    margin-bottom: 0;
    opacity: 1;
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.shop_inventory_item_buy_button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

.shop_inventory_item_buy_button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.active-menu-option {
    border-bottom-color: rgb(255, 255, 255);
}

.filled-game-button {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    background-color: rgba(188, 188, 188, 0.06);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    width: auto;
    min-width: auto;
    -unity-text-align: middle-center;
    transition-duration: 0.5s;
}

.filled-game-button:hover {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    width: auto;
    min-width: auto;
    -unity-text-align: middle-center;
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
}

.filled-game-button:focus {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    width: auto;
    min-width: auto;
    -unity-text-align: middle-center;
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
}

.equipment-item-selection-button:focus {
    width: 100%;
    height: auto;
    flex-shrink: initial;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.scrollview-button {
    flex-shrink: 0;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    -unity-font-definition: none;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    transition-duration: 0.25s;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}

.scrollview-button:focus {
    flex-shrink: 0;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
}

.scrollview-button:hover {
    flex-shrink: 0;
    width: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
}

.closeButton {
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(25, 25, 25);
    -unity-font-definition: none;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    color: rgb(255, 255, 255);
}

.closeButton:hover {
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(255, 255, 255);
    -unity-font-definition: none;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    color: rgb(0, 0, 0);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

.closeButton:focus {
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(255, 255, 255);
    -unity-font-definition: none;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    color: rgb(0, 0, 0);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

.custom_scrollview {
    width: 357px;
    height: 200px;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding-left: 5px;
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom_scrollview .unity-scroll-view__vertical-scroller {
    margin-left: 10px;
}

.main-menu-navbar-button-v2 {
    background-color: rgba(188, 188, 188, 0);
    height: 20px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    transition-duration: 0.25s;
    border-bottom-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: none;
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

.main-menu-navbar-button-v2:hover {
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 255, 255);
}

.main-menu-navbar-button-v2:focus {
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 255, 255);
}

.equipment-item-selection-button-v2 {
    width: 100%;
    height: auto;
    flex-shrink: initial;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    border-width: 0;
    background-color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: none;
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    transition: 0.25s ease all;
}

.equipment-item-selection-button-v2:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.equipment-item-selection-button-v2:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.favorite-item-button:focus {
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    flex-direction: row;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    transition-duration: 0.1s;
    color: rgb(0, 0, 0);
}

.save-game-button {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    background-color: rgba(188, 188, 188, 0.06);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    width: auto;
    min-width: auto;
    -unity-text-align: middle-center;
    transition-duration: 0.5s;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: none;
}

.save-game-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.save-game-button:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.title-screen-credits-label {
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: normal;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.5;
    transition: 0.25s ease all;
}

.title-screen-credits-label:hover {
    opacity: 1;
    font-weight: bold;
}

.title-screen-credits-label:focus {
    opacity: 1;
    font-weight: bold;
}

.craft-button {
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    background-color: rgba(188, 188, 188, 0.06);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    width: 100%;
    min-width: auto;
    -unity-text-align: middle-center;
    transition-duration: 0.5s;
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: none;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.craft-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.craft-button:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.save-entry-item {
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

.save-entry-item:hover {
    background-color: rgb(255, 255, 255);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

.save-entry-item:hover * {
    color: rgb(0, 0, 0);
}

.fadein {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
}

.primary-button {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 0.1s ease all;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Fonts/Grenze/Grenze-SemiBold.ttf?fileID=12800000&guid=7c97367a93d4cc844a4113ad6cf8d2e0&type=3#Grenze-SemiBold");
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.primary-button:hover {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    transition: 0.1s ease all;
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    background-color: rgba(255, 255, 255, 0.1);
}

.primary-button:focus {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    transition: 0.1s ease all;
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    background-color: rgba(255, 255, 255, 0.3);
}

.selected {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    transition: 0.1s ease all;
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    background-color: rgba(255, 255, 255, 0.1);
}

.input-indicator-description {
    border: 1px solid white;
}

.footer-input-indicator {
    flex-grow: 0;
    flex-direction: row;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    align-items: center;
    border-left-color: rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    margin-right: 5px;
}

.navbar-label {
    position: absolute;
    bottom: -40px;
    -unity-font-definition: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Fonts/Grenze/Grenze-SemiBold.ttf?fileID=12800000&guid=7c97367a93d4cc844a4113ad6cf8d2e0&type=3#Grenze-SemiBold");
    color: rgb(255, 255, 255);
    -unity-font-style: normal;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 24px;
}

.navbar-input-button {
    width: 35px;
    height: 35px;
    background-image: url("project://database/Assets/Synty/InterfaceCore/Sprites/Icons_Input/PlayStation/ICON_Input_PlayStation_Button_R2_Underlay.png?fileID=2800000&guid=1a044ff84bbf77949840887227a78f85&type=3#ICON_Input_PlayStation_Button_R2_Underlay");
    margin-right: 5px;
    margin-left: 5px;
}

.book-chapter-title {
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    flex-wrap: nowrap;
    display: flex;
    font-size: 48px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0);
    -unity-font-style: normal;
}

.book-chapter-paragraph {
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    flex-wrap: wrap;
    margin-top: 0;
    flex-grow: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    flex-shrink: 1;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    font-size: 26px;
    -unity-font-style: normal;
}

#unity-dragger {
    border-radius: 5px;
    width: 20px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.2);
    transition: 0.1s ease all;
    background-color: rgb(255, 255, 255);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

#unity-dragger:hover {
    border-color: rgb(201, 170, 33);
    background-color: rgb(255, 224, 86);
}

#unity-dragger:focus {
    border-color: rgb(201, 170, 33);
    background-color: rgb(255, 224, 86);
}

#unity-dragger:active {
    border-color: rgb(201, 170, 33);
    background-color: rgb(255, 224, 86);
}

#unity-dragger:selected {
    border-color: rgb(201, 170, 33);
    background-color: rgb(255, 224, 86);
}

#unity-dragger:checked {
    border-color: rgb(201, 170, 33);
    background-color: rgb(255, 224, 86);
}

#unity-drag-container:active #unity-dragger {
    border-color: rgb(201, 170, 33);
    background-color: rgb(255, 224, 86);
}

#unity-tracker {
    border-radius: 5px;
    transition: 0.1s ease all;
    background-color: rgba(255, 255, 255, 0.5);
}

#unity-text-input {
    border-radius: 5px;
    width: 20px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.2);
    transition: 0.1s ease all;
    background-color: rgb(255, 255, 255);
    -unity-font-style: default;
    font-size: 20px;
    -unity-font-definition: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Fonts/Grenze/Grenze-SemiBold.ttf?fileID=12800000&guid=7c97367a93d4cc844a4113ad6cf8d2e0&type=3#Grenze-SemiBold");
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
}

#unity-text-input:hover {
    border-color: rgb(201, 170, 33);
}

#unity-text-input:focus {
    border-color: rgb(201, 170, 33);
}

#unity-text-input:active {
    border-color: rgb(201, 170, 33);
}

#unity-text-input:selected {
    border-color: rgb(201, 170, 33);
}

#unity-text-input:checked {
    border-color: rgb(201, 170, 33);
}

.unity-base-field__input:hover {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.unity-base-field__input:focus {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.shop-item-preview {
    width: 60px;
    height: 60px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-color: rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-image: resource('Items/Consumables/Health Potion');
    flex-shrink: 0;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.controls-rebind-button {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    font-size: 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.31);
}

.controls-label {
    flex-direction: row;
    align-items: center;
    -unity-text-outline-width: 0;
    -unity-text-outline-color: rgba(255, 0, 0, 0);
    background-color: rgba(255, 0, 0, 0);
    justify-content: flex-end;
    -unity-font-style: bold;
    margin-left: 5px;
    flex-grow: 0;
    font-size: 20px;
}

.input-key-sprite {
    -unity-slice-scale: 1px;
    -unity-background-scale-mode: stretch-to-fill;
    flex-grow: 0;
    background-image: url("project://database/Assets/Graphics/Sprites/Keyboard%20&%20Mouse/Dark/Shift_Key_Dark%201.png?fileID=2800000&guid=e0e997eb4fe9d0549a6a27940e2871fa&type=3#Shift_Key_Dark 1");
    width: 45px;
    height: 45px;
}

.dialogue-choice-button {
    opacity: 0.5;
    transition: 0.25s ease all;
}

.dialogue-choice-button:hover {
    opacity: 1;
}

.dialogue-choice-button:focus {
    opacity: 1;
}

.title-screen-button {
    width: auto;
    font-size: 20px;
    height: auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.title-screen-website-button {
    background-color: rgba(255, 255, 255, 0);
    width: 40px;
    height: 40px;
    background-image: url("project://database/Assets/Graphics/Sprites/Social%20Icons/154639b45257489ffba5d13dcda23b6d.jpg?fileID=2800000&guid=a82fe45f39222db4faa20b2536cd855c&type=3#154639b45257489ffba5d13dcda23b6d");
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    -unity-background-scale-mode: scale-to-fit;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    -unity-slice-scale: 1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.level-up-icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    background-image: url("project://database/Assets/Graphics/Sprites/Misc/Level%20Up%20Background.png?fileID=2800000&guid=b51faea7245c1114d91b9a9c2cf61a4e&type=3#Level Up Background");
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.2);
}

#unity-checkmark {
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.2);
    transition: 0.1s ease all;
    background-color: rgb(255, 255, 255);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Fonts/Grenze/Grenze-SemiBold.ttf?fileID=12800000&guid=7c97367a93d4cc844a4113ad6cf8d2e0&type=3#Grenze-SemiBold");
}

#unity-checkmark:hover,
#unity-checkmark:focus {
    border-color: rgb(201, 170, 33);
    background-color: rgb(255, 224, 86);
    cursor: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Sprites/Cursors/SPR_MouseCursor_FantasyWarrior_Pointer_03.png?fileID=2800000&guid=c2beade0712d2fe45918ff0afdece64e&type=3#SPR_MouseCursor_FantasyWarrior_Pointer_03");
    -unity-font: url("project://database/Assets/Graphics/Fonts/Vecna.ttf?fileID=12800000&guid=3cb0a9ff58895424c8d2920e9eef12f1&type=3#Vecna");
    -unity-font-definition: url("project://database/Assets/Synty/InterfaceFantasyWarriorHUD/Fonts/Grenze/Grenze-SemiBold.ttf?fileID=12800000&guid=7c97367a93d4cc844a4113ad6cf8d2e0&type=3#Grenze-SemiBold");
}
